extends layout

block content
  //- h1= title
  p Welcome to #{title}
  
  //- img.image(src='/images/logo.jpg' )
  img.rounded(src='/images/logo.jpg',  class="rounded-circle" alt='Cinque Terre')

  p.text-bottom FitnessWorkout © 2019, All Rights Reserved
