extends ../layout

block content
  //- h1= title
  h3.p-3 Welcome to #{title}

  form(method='POST' action='/program/submitAddExercise')
    br
    br
    br
    div.form-group
      br
      label(for='_id')  id :
      input#_id.form.control(type='text', name='id' value=id, required)
    div.form-group
      label(for='exercise') Exercise:
      input#exercise.form-control(type='text', placeholder='Exercise' name='exercise', required)
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Description' name='description', required)
    div.form-group
      label(for='set') Set:
      input#set.form-control(type='number', placeholder='Set' name='set', required)
    div.form-group
      label(for='repsOrTime') Reps/time:
      input#repsOrTime.form-control(type='text' name='repsOrTime', required)
      br
      button.btn.btn-success.float-right.btn-sm(type='submit') Add Exercise
